<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to proceed</title>
</head>
<body>
      <form action = "http://localhost:5000/{{return_point}}/" method = "post">
          <fieldset>
              <legend>Voer het wachtwoordt in:</legend>
              <p>Enter Password:</p>
              <p><input type = "password" name = "goed" /></p>
              <p><input type = "submit" value = "submit" /></p>
          </fieldset>
      </form>
</body>
</html>